
.wide{
    padding-left: 5%;
    padding-right: 5%;
}

.accordion {
    margin: 20px;
}

.page{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%
}

.continue{
    font-style: italic;
    color: grey;
    padding-top: 20px;
    float:right
}